<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
  <script>
    passwordResetRequest = (token) => {
      document.querySelector("#password-request-form").submit();
    }
    registerAccountRequest = (token) => {
      document.querySelector("#register-account-form").submit();
    }
    loginRequest = (token) => {
      document.querySelector("#login-form").submit();
    }
  </script>
  <title></title>
</head>

<body>

<header id="header">
  <div class="container">
    <div class="subcontainer">
      <div class="navbar">
        <a href="/" class="nav-branding" style="font-size: 2rem;font-weight: bold;">DEV.</a>
        <ul class="nav-menu">
          <% if (typeof user !="undefined" && user) { %>
            <li class="nav-item">
              <a href="/profile" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a href="/auth/logout" class="nav-link">Logout</a>
            </li>
            <% } else { %>
              <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a href="/register" class="nav-link">Register</a>
              </li>
              <% } %>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>
  </div>
  
</header>