<%- include("partials/header.ejs") %>

<section>
  <div class="container">
    <div class="subcontainer">
      <form action="/auth/login" id="login-form" method="POST">
        <div class="title">
          <h2>Login</h2>
        </div>
        <div>
          <input type="text" id="email" name="email" placeholder="Email" required>
        </div>
        <div id="password-container">
          <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div id="show-password-container">
          <div>
            <input type="checkbox" id="show-password">
            <label for="show-password">Show password</label>
          </div>
          <div>
            <a href="/password-reset">Forgot password?</a>
          </div>
        </div>
        <div>
          <button id="login-btn">Let's go</button>
        </div>
        <div id="register-account">
          <a href="/register">Not a member? Register</a>
        </div>
        <% if(typeof success != "undefined" && !success) { %>
          <div class="alert-message">
            <%= message %>
          </div>
        <% } %>
      </form>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>