<%- include("partials/header.ejs") %>

  <section id="password-reset">
    <div class="container">
      <div class="subcontainer">
        <form action="/auth/reset-email" id="password-request-form" method="POST">
          <div class="title">
            <h2>Password reset</h2>
            <br>
            <p>Enter the email you signed up with and we will send you a link to reset your password</p>
          </div>
          <div>
            <input type="email" name="email" id="email" placeholder="Email" required>
          </div>
          <div>
            <button id="link-btn" class="g-recaptcha" data-sitekey="6Ldi36wdAAAAAKQt6ZRvz41BJw-wf1p_vo_kP0ER"
              data-callback="passwordResetRequest">Send</button>
          </div>
          <% if (typeof success !="undefined" && !success) { %>
            <div class="alert-message">
              <p>
                <%= message %>
              </p>
            </div>
            <% } %>
        </form>
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>

  <%- include("partials/footer.ejs") %>