<%- include("partials/header.ejs") %>

<section>
  <div class="container">
    <div class="subcontainer">
      <div class="title">
        <h2>Password reset link sent</h2>
        <br>
        <p>We emailed you instructions for re-setting you password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you entered the address you registered with, and check your spam folder.</p>
      </div>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>