@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


/* GLOBAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  overflow-x: hidden ;
}

label{
  color: gray;
}

p{
  line-height: 1.5;  
}

a{
  color: gray;
  text-decoration: none;
  font-size: 0.9rem;
}

input{
  width: 375px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
  font-family: inherit;
}

input:focus{
  box-shadow: 0 0 5px #19194d;
  border: 1px solid #19194d;
}

input[type="checkbox"]{
 width: auto;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

button{
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

form{
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.container{
  width: 1600px;
  margin: auto;
}

.subcontainer{
  width: 85%;
  margin: auto;
  padding: 10px 0;
}

.title{
  width: 100%;
  text-align: center;
}

.title h2{
  font-size: 2rem;
}

.alert-message{
  width: 375px;
  margin: auto;
  height: auto;
  padding: 12px;
  background-color: #ffe6e6;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
}

.success{
  background-color: #e6ffee;
  border: 1px solid green;
  color: green;
}
/* END GLOBAL */

/* Header / Navbar */
.navbar{
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li{
  list-style: none;
}

.navbar a{
  font-size: 1.1rem;
  color: #262626;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: gray;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #262626;
}

/* INDEX.EJS */
.home-container{
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container input{
  width: 400px;
}

.search{
  position: relative;
}

.fa-search{
  font-size: 1rem;
  position: absolute;
  top: 27%;
  right: 3%;
  cursor: pointer;
  color: #a64dff;
  transition: 0.3s ease-out;
}

.fa-search:hover{
  color: lightgray;
}

/* LOGIN/ REGISTER */
#password-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#show-password-container{
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#show-password-container label{
  font-size: 0.9rem;
}

#password-strength-text{
  font-size: 0.8rem;
}

#login-account, #register-account{
  width: 100%;
  text-align: center;
}

#account-btn, #login-btn, #link-btn, #update-password{
  width: 375px;
  color: white;
  background-color: black;
}

@media(max-width:1600px){
  .container{
    width: 100%;
  }
}

@media(max-width:1024px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}

